[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
pyap = "*"
pytest = "*"
nltk = "*"
transformers = "*"
names-dataset = "*"
presidio-analyzer = "*"
presidio-anonymizer = "*"

[dev-packages]

[requires]
python_version = "3.10"
